In [3]:
import pandas as pd
import numpy as np

# –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ #2

- üåü–°–∫–∞—á–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –ø–æ —Å—Å—ã–ª–∫–µ
- https://www.kaggle.com/datasets/ionaskel/laptop-prices
- üåü –°—á–∏—Ç–∞—Ç—å –¥–∞–Ω–Ω—ã–µ —Å –ø–æ–º–æ—â—å—é pandas 
- üåü –í—ã–≤–µ—Å—Ç–∏ –Ω–∞ —ç–∫—Ä–∞–Ω –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ 
- üåü –ü–æ—Å–º–æ—Ç—Ä–µ—Ç—å –Ω–∞ –æ–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –∏ –Ω–∞ –∏—Ö —Å–æ–¥–µ—Ä–∂–∞–Ω–∏–µ

In [5]:
pp = pd.read_csv('kc_house_data.csv', sep = ',')
pp

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [9]:
pp.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ 2
–ü—Ä–æ–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–≤–∏—á–Ω—ã–π –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö 
1. –ò–∑—É—á–∏—Ç–µ —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö 
2. –ù–∞–π–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö —è—á–µ–µ–∫ –≤ –¥–∞–Ω–Ω—ã—Ö 
3. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ –æ—Å–Ω–æ–≤–Ω—ã–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –ø–æ –≤—Å–µ–º –ø—Ä–∏–∑–Ω–∞–∫–∞–º –∏ –ø–æ–∏–∑—É—á–∞–π—Ç–µ –∏—Ö 
4. –ü–∏—à–∏—Ç–µ –≤—ã–≤–æ–¥—ã

In [7]:
pp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [8]:
pp.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [10]:
pp.describe(include = ['object'])

                   date
count             21613
unique              372
top     20140623T000000
freq                142

## –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ 3
–û—Ç–≤–µ—Ç—å—Ç–µ –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ –≤–æ–ø—Ä–æ—Å–æ–≤ 
#### 3.1 –í –∫–∞–∫–æ–º –¥–∏–∞–ø–∞–∑–æ–Ω–µ –∏–∑–º–µ–Ω—è—é—Ç—Å—è —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏?

In [11]:
pp['price'].min(), pp['price'].max()

(75000.0, 7700000.0)

#### 3.2 –ö–∞–∫—É—é –¥–æ–ª—é –≤ —Å—Ä–µ–¥–Ω–µ–º –∑–∞–Ω–∏–º–∞—é—Ç –∂–∏–ª–∞—è –ø–ª–æ—â–∞–¥—å –æ—Ç –≤—Å–µ–π –ø–ª–æ—â–∞–¥–∏ –ø–æ –≤—Å–µ–º –¥–æ–º–∞–º?

In [13]:
(pp['sqft_living'].mean()/pp['sqft_lot'].mean())*100

13.76781757959227

#### 3.3 –ö–∞–∫ –º–Ω–æ–≥–æ –¥–æ–º–æ–≤ —Å —Ä–∞–∑–Ω—ã–º–∏ —ç—Ç–∞–∂–∞–º–∏ –≤ –¥–∞–Ω–Ω—ã—Ö?

In [15]:
pp['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

#### 3.4 –ù–∞—Å–∫–æ–ª—å–∫–æ —Ö–æ—Ä–æ—à–∏–µ —Å–æ—Å—Ç–æ—è–Ω–∏—è —É –¥–æ–º–æ–≤ –≤ –¥–∞–Ω–Ω—ã—Ö?

In [16]:
pp['condition'].value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

#### 3.5 –ù–∞–π–¥–∏—Ç–µ –≥–æ–¥–∞, –∫–æ–≥–¥–∞ –ø–æ—Å—Ç—Ä–æ–∏–ª–∏ –ø–µ—Ä–≤—ã–π –¥–æ–º, –∫–æ–≥–¥–∞ –ø–æ—Å—Ç—Ä–æ–∏–ª–∏ –ø–æ—Å–ª–µ–¥–Ω–∏–π –¥–æ–º –≤ –¥–∞–Ω–Ω—ã—Ö?

In [17]:
pp['yr_built'].min(), pp['yr_built'].max()

(1900, 2015)

## –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ 4
–û—Ç–≤–µ—Ç—å—Ç–µ –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ –≤–æ–ø—Ä–æ—Å–æ–≤ 
#### 4.1 –°–∫–æ–ª—å–∫–æ –≤ —Å—Ä–µ–¥–Ω–µ–º —Å—Ç–æ—è—Ç –¥–æ–º–∞, —É –∫–æ—Ç–æ—Ä—ã—Ö 2 —Å–ø–∞–ª—å–Ω–∏?

In [22]:
pp[pp['bedrooms'] == 2]['price'].mean()

401372.681884058

#### 4.2 –ö–∞–∫–∞—è –≤ —Å—Ä–µ–¥–Ω–µ–º –æ–±—â–∞—è –ø–ª–æ—â–∞–¥—å –¥–æ–º–æ–≤, —É –∫–æ—Ç–æ—Ä—ã—Ö —Å—Ç–æ–∏–º–æ—Å—Ç—å –±–æ–ª—å—à–µ 600 000?

In [23]:
pp[pp['price'] > 600000]['sqft_lot'].mean()

20442.524776214832

#### 4.3 –ö–∞–∫ –º–Ω–æ–≥–æ –¥–æ–º–æ–≤ –∫–æ—Å–Ω—É–ª—Å—è —Ä–µ–º–æ–Ω—Ç?

In [27]:
pp[pp['yr_renovated'] != 0].shape[0]

914

#### 4.4 –ù–∞—Å–∫–æ–ª—å–∫–æ –≤ —Å—Ä–µ–¥–Ω–µ–º —Å—Ç–æ–∏–º–æ—Å—Ç—å –¥–æ–º–æ–≤ —Å –æ—Ü–µ–Ω–∫–æ–π grade –¥–æ–º–æ–≤ –≤—ã—à–µ 10 –æ—Ç–ª–∏—á–∞–µ—Ç—Å—è –æ—Ç —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –¥–æ–º–æ–≤ —Å –æ—Ü–µ–Ω–∫–æ–π grade –º–µ–Ω—å—à–µ 4?

In [32]:
pp[pp['grade'] > 10]['price'].mean() / pp[pp['grade'] < 4]['price'].mean()

8.846561884215443

In [33]:
pp[pp['grade'] > 10]['price'].mean() - pp[pp['grade'] < 4]['price'].mean()

1488885.1175298805

## –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ 5
–ê–Ω–∞–ª–∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞ —Å –ø–æ–º–æ—â—å—é Pandas
#### 5.1 –í—ã–±–µ—Ä–∏—Ç–µ –¥–æ–º –∫–ª–∏–µ–Ω—Ç—É
**–ö–ª–∏–µ–Ω—Ç —Ö–æ—á–µ—Ç –¥–æ–º —Å –≤–∏–¥–æ–º –Ω–∞ –Ω–∞–±–µ—Ä–µ–∂–Ω—É—é, –∫–∞–∫ –º–∏–Ω–∏–º—É–º —Å —Ç—Ä–µ–º—è –≤–∞–Ω–Ω—ã–º–∏ –∏ —Å –ø–æ–¥–≤–∞–ª–æ–º. –°–∫–æ–ª—å–∫–æ –≤–∞—Ä–∏–∞–Ω—Ç–æ–≤ –µ—Å—Ç—å —É –∫–ª–∏–µ–Ω—Ç–∞?**

In [49]:
pp[(pp['waterfront'] > 0) & (pp['bathrooms'] >= 3) & (pp['sqft_basement'] > 0)].shape[0]

41

#### 5.2 –í—ã–±–µ—Ä–∏—Ç–µ –¥–æ–º –∫–ª–∏–µ–Ω—Ç—É
**–ö–ª–∏–µ–Ω—Ç —Ö–æ—á–µ—Ç –¥–æ–º –ª–∏–±–æ —Å –æ—á–µ–Ω—å –∫—Ä–∞—Å–∏–≤—ã–º –≤–∏–¥–æ–º –∏–∑ –æ–∫–Ω–∞, –ª–∏–±–æ —Å –≤–∏–¥–æ–º –Ω–∞ –Ω–∞–±–µ—Ä–µ–∂–Ω—É—é, –≤ –æ—á–µ–Ω—å —Ö–æ—Ä–æ—à–µ–º —Å–æ—Å—Ç–æ—è–Ω–∏–∏ –∏ –≥–æ–¥ –ø–æ—Å—Ç—Ä–æ–π–∫–∏ –Ω–µ –º–µ–Ω—å—à–µ 1980 –≥–æ–¥–∞. –í –∫–∞–∫–æ–π —Ü–µ–Ω–æ–≤–æ–º –¥–∏–∞–ø–∞–∑–æ–Ω–µ –±—É–¥—É—Ç –¥–æ–º–∞?**

In [55]:
pp[((pp['waterfront'] == 1) | (pp['view'] == 4)) & (pp['condition'] == 5) & (pp['yr_built'] >= 1980)]['price'].min()

1295000.0

In [54]:
pp[((pp['waterfront'] == 1) | (pp['view'] == 4)) & (pp['condition'] == 5) & (pp['yr_built'] >= 1980)]['price'].max()

3000000.0

#### 5.3 –í—ã–±–µ—Ä–∏—Ç–µ –¥–æ–º –∫–ª–∏–µ–Ω—Ç—É
**–ö–ª–∏–µ–Ω—Ç —Ö–æ—á–µ—Ç –¥–æ–º –±–µ–∑ –ø–æ–¥–≤–∞–ª–∞, —Å –¥–≤—É–º—è —ç—Ç–∞–∂–∞–º–∏, —Å—Ç–æ–∏–º–æ—Å—Ç—å—é –¥–æ 150000. –ö–∞–∫–∞—è –æ—Ü–µ–Ω–∫–∞ –ø–æ —Å–æ—Å—Ç–æ—è–Ω–∏—é —É —Ç–∞–∫–∏—Ö –¥–æ–º–æ–≤ –≤ —Å—Ä–µ–¥–Ω–µ–º?**

In [57]:
pp[(pp['sqft_basement'] == 0) & (pp['floors'] == 2) & (pp['price'] < 150000)]['condition'].mean()

2.8333333333333335